@page "/omOss"

<PageTitle>Om Oss</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Välkommen till Gårda NetGame!</h1>
            <p class="lead text-center">Din spel- och eventbutik mitt i hjärtat av Gårda, Göteborg.</p>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-lg-6 col-md-12 mb-4">
            <img src="https://teamgardastorage.blob.core.windows.net/gardanetgameimages/utsida.webp" class="img-fluid" alt="Exteriör av vår butik i Gårda">
        </div>
        <div class="col-lg-6 col-md-12">
	        <h2>Om Gårda NetGame</h2>
	        <p>Gårda NetGame är inte bara en butik, det är en mötesplats för alla som älskar spel och spännande upplevelser. Vår mysiga butik i Gårda är fylld till brädden med de senaste spelen och erbjuder regelbundna event där du kan testa dina färdigheter mot andra entusiaster.</p>
	        <p>Hos oss kan du köpa, sälja och byta spel, men även boka in dig på roliga events. Kom in och upplev vår unika atmosfär!</p>
	        <p>Vårt hjärta och vår själ är rotade i den levande stadsdelen Gårda, där kreativitet och gemenskap flödar lika fritt som Göta älv. I denna pulserande miljö blomstrar Gårda NetGame som en viktig kulturell knutpunkt, där gamers och nördkultur-entusiaster samlas för att dela sina passioner.</p>
	        <p>Med en inbjudande och varm atmosfär strävar vi efter att vara mer än bara en affär; vi är en del av ditt vardagsrum, där varje besök är en ny upptäckt. Varje hörn av vår butik är noggrant utformad för att skapa en upplevelse som både är inspirerande och avkopplande, vilket gör det till det perfekta stället för både gamla vänner och nya bekantskaper att träffas och umgås.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <img src="https://teamgardastorage.blob.core.windows.net/gardanetgameimages/retrointerior.png" class="img-fluid" alt="Inne i butiken">
            <h3 class="mt-3">Inne i butiken</h3>
            <p>För oss är varje kvadratmeter viktig och här kan du stanna en stund och bara spala eller hänga.</p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
            <img src="https://teamgardastorage.blob.core.windows.net/gardanetgameimages/bradspel.JPG" class="img-fluid" alt="Våra spännande events">
            <h3 class="mt-3">Spännande Events</h3>
            <p>Delta i våra turneringar och evenemang. Kolla in vår eventsida för kommande händelser!</p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
            <img src="https://teamgardastorage.blob.core.windows.net/gardanetgameimages/gardaByNight.png" class="img-fluid" alt="Gårda, Göteborg">
            <h3 class="mt-3">Vår Kärlek till Gårda</h3>
            <p>Gårda NetGame är stolt över att vara en del av detta dynamiska område. Lär dig mer om vår passion för Gårda.</p>
        </div>
    </div>
</div>

