@page "/Account/ForgotPasswordConfirmation"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Glömt lösenord</PageTitle>
<div class="ms-3 mt-2">

    <h1>Glömt lösenord</h1>
    <p>
        Kolla din mail för att återställa ditt lösenord
        <div class="pb-4 m-2">
            <button id="ReturnToLogin" @onclick=BackToLogin class= "btn btn-lg btn-primary mt-2">Tillbaka till Logga in</button>
        </div>
    </p>
</div>

@code {
    private void BackToLogin()
    {
        NavigationManager.NavigateTo("/Account/Login");
    }
}