@inherits LayoutComponentBase
@layout AccountLayout

<Main class="mx-3 mt-2"
<h1>Administrera hemsida</h1>
    <div>
        <h2>Lägg till, ta bort eller ändra event, spel med mera.</h2>
    <hr />
        <div class="row">
            <div class="col-md-3">
                <AdminNavMenu />
            </div>
            <div class="col-md-9">
                @Body
            </div>
        </div>
    </div>
</Main>